## Compilation
*.o
*.a
!cmake/libs/*.a
*.so
a.out
generated_exception_header.hpp

## Vim
*.sw*
\#*#
*~
:*
q
vg
z

## Doxygen
/html
/latex

## CMake
/build
__pycache__

## Other
/fedora
/runner
.info
/main.cpp
